<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Lista firm</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,
    700;1,900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/57474b4673.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../static/styles/main.css">

</head>
<body>

<div class="container">
    <nav>
        <a href="" class="nav-item nav-item-logo">Strona główna</a>
        <a href="" class="nav-item">Lista zgłoszeń</a>
        <a href="" class="nav-item">Panel administracyjny</a>
        <a href="" class="nav-item">Raporty</a>
        <a href="" class="nav-item">Ustawienia konta</a>
        <a href="" class="nav-item">Wyloguj się</a>
    </nav>

    <main class="main-content">


        <div class="user-filter-box">
            <p>Sortuj</p>
            <select name="" id="">
                <option value="">Liczba użytkowników malejąco</option>
                <option value="">Liczba użytkowników rosnąco</option>
            </select>
        </div>


        <div class="company-listing-box">
            <h2 class="company-listing-header">Lista firm</h2>
            <table class="company-listing-table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Nazwa</th>
                    <th>Adres</th>
                    <th>Czas na obsługę zgłoszenia z kategorią KRYTYCZNE(godziny)</th>
                    <th>Czas na obsługę zgłoszenia z kategorią POWAŻNE(godziny)</th>
                    <th>Czas na obsługę zgłoszenia z kategorią DROBNE(godziny)</th>
                    <th>Liczba użytkowników</th>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>NextGen Technologies</td>
                    <td>Kraków, ul. Zielona 9</td>
                    <td>2</td>
                    <td>6</td>
                    <td>9</td>
                    <td>8</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>NextGen Technologies</td>
                    <td>Kraków, ul. Zielona 9</td>
                    <td>3</td>
                    <td>4</td>
                    <td>7</td>
                    <td>24</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>NextGen Technologies</td>
                    <td>Kraków, ul. Zielona 9</td>
                    <td>1</td>
                    <td>3</td>
                    <td>5</td>
                    <td>15</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>NextGen Technologies</td>
                    <td>Kraków, ul. Zielona 9</td>
                    <td>4</td>
                    <td>8</td>
                    <td>10</td>
                    <td>6</td>
                </tr>
                </tbody>
            </table>
        </div>


    </main>

    <footer>
        Stopka
    </footer>
</div>

</body>
</html>