<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Panel administracyjny</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,
    700;1,900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/57474b4673.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../static/styles/main.css">

</head>
<body>


<div class="container">
    <nav>
        <a href="" class="nav-item nav-item-logo">Strona główna</a>
        <a href="" class="nav-item">Lista zgłoszeń</a>
        <a href="" class="nav-item">Panel administracyjny</a>
        <a href="" class="nav-item">Raporty</a>
        <a href="" class="nav-item">Ustawienia konta</a>
        <a href="" class="nav-item">Wyloguj się</a>
    </nav>

    <main class="main-content">

        <div class="report-form-box">
            <h3>Uzupełnij poniższy formularz aby wygenerować raport</h3>
            <form action="" method="post" class="form">
                <label for="">Data od:</label>
                <input type="date" name="" id="" required>
                <label for="">Data do:</label>
                <input type="date" name="" id="" required>
                <label for="">Kategoria zgłoszeń</label>
                <select name="" id="" required>
                    <option value="" disabled selected>Wybierz kategorię</option>
                    <option value="">Krytyczne</option>
                    <option value="">Poważne</option>
                    <option value="">Drobne</option>
                    <option value="">Wszystkie</option>
                </select>
                <label>Status zgłoszeń</label>
                <select name="" id="" required>
                    <option value="" disabled selected>Wybierz status</option>
                    <option value="">Oczekujące</option>
                    <option value="">W trakcie przeglądu</option>
                    <option value="">Zakończone</option>
                    <option value="">Wszystkie</option>
                </select>
                <button type="submit" class="form-submit-btn">Wygeneruj raport</button>
            </form>
        </div>



    </main>

    <footer>
        Stopka
    </footer>
</div>

</body>
</html>