<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Lista użytkowników</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,
    700;1,900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/57474b4673.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../static/styles/main.css">

</head>
<body>

<div class="container">
    <nav>
        <a href="" class="nav-item nav-item-logo">Strona główna</a>
        <a href="" class="nav-item">Lista zgłoszeń</a>
        <a href="" class="nav-item">Panel administracyjny</a>
        <a href="" class="nav-item">Raporty</a>
        <a href="" class="nav-item">Ustawienia konta</a>
        <a href="" class="nav-item">Wyloguj się</a>
    </nav>

    <main class="main-content">


            <div class="user-filter-box">
                <p>Filtrowanie według roli</p>
                <button>Administratorzy</button>
                <button>Pracownicy</button>
                <button>Użytkownicy</button>
            </div>


        <div class="user-listing-box">
            <h2 class="user-listing-header">Lista użytkowników</h2>
            <table class="user-listing-table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Imię</th>
                    <th>Nazwisko</th>
                    <th>Adres e-mail</th>
                    <th>Rola</th>
                    <th>Firma</th>
                    <th>*</th></tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>Jan</td>
                    <td>Kowalski</td>
                    <td>jankowalski9@gmail.com</td>
                    <td>UŻYTKOWNIK</td>
                    <td>NextGen Technologies</td>
                    <td><button>Usuń</button></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Jan</td>
                    <td>Kowalski</td>
                    <td>jankowalski9@gmail.com</td>
                    <td>PRACOWNIK</td>
                    <td>NextGen Technologies</td>
                    <td><button>Usuń</button></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Jan</td>
                    <td>Kowalski</td>
                    <td>jankowalski9@gmail.com</td>
                    <td>UŻYTKOWNIK</td>
                    <td>NextGen Technologies</td>
                    <td><button>Usuń</button></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Jan</td>
                    <td>Kowalski</td>
                    <td>jankowalski9@gmail.com</td>
                    <td>ADMINISTRATOR</td>
                    <td>NextGen Technologies</td>
                    <td><button>Usuń</button></td>
                </tr>
                </tbody>
            </table>
        </div>


    </main>

    <footer>
        Stopka
    </footer>
</div>

</body>
</html>