<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Zmiana danych konta</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,
    700;1,900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/57474b4673.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../static/styles/main.css">

</head>
<body>


<div class="container">
    <nav>
        <a href="" class="nav-item nav-item-logo">Strona główna</a>
        <a href="" class="nav-item">Moje zgłoszenia</a>
        <a href="" class="nav-item">Zgłoś nowe zdarzenie</a>
        <a href="" class="nav-item">Ustawienia konta</a>
        <a href="" class="nav-item">Wyloguj się</a>
    </nav>

    <main class="main-content">
        <h2 class="list-heading">Dodaj nowe zgłoszenie zdarzenia niepożądanego</h2>
        <form method="post" action="" class="form form-margin">
            <label for="">Tytuł</label>
            <input type="text" name="" id="" placeholder="Wpisz tytuł" required>
            <label for="">Opis</label>
            <textarea name="" id="" cols="60" rows="10" placeholder="Opisz zdarzenie"></textarea>
            <label for="">Kategoria</label>
            <select name="" id="" required>
                <option value="" disabled selected>Wybierz kategorię</option>
                <option value="">Drobne</option>
                <option value="">Poważne</option>
                <option value="">Krytyczne</option>
            </select>
            <label for="">Dołącz zdjęcie (dozwolony format: .jpeg lub .png)</label>
            <input type="file" name="" id="" accept="image/png, image/jpeg">

            <button type="submit" class="form-submit-btn">Dodaj zgłoszenie</button>
        </form>
    </main>

    <footer>
        Stopka
    </footer>
</div>

</body>
</html>