<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Strona główna</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,
    700;1,900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/57474b4673.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../static/main.css">

</head>
<body>


<div class="container">
    <nav>
        <a href="" class="nav-item nav-item-logo">Strona główna</a>
        <a href="" class="nav-item">Moje zgłoszenia</a>
        <a href="" class="nav-item">Zgłoś nowe zdarzenie</a>
        <a href="" class="nav-item">Ustawienia konta</a>
        <a href="" class="nav-item">Wyloguj się</a>
    </nav>

    <main class="main-content">
        <div class="header-box">
            <h1 class="main-title">Witaj, Imię</h1>
            <p class="main-description">Śledź swoje zgłoszenia i dodawaj nowe zgłoszenia zdarzeń niepożądanych.</p>
            <div class="header-buttons-box">
                <button class="all-reports-btn">Zobacz moje zgłoszenia</button>
                <button class="add-new-report-btn">Zgłoś nowe zdarzenie</button>
            </div>
        </div>

        <div class="latest-reports-box">
            <h2 class="latest-reports-header">Twoje ostatnie zgłoszenia</h2>
            <table class="latest-reports-table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Data dodania</th>
                    <th>Kategoria</th>
                    <th>Status</th>
                    <th>Szczegóły</th></tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>19.10.2024 20:50</td>
                    <td>Poważne</td>
                    <td>Oczekujące</td>
                    <td><button>Sprawdź</button></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>19.10.2024 20:50</td>
                    <td>Poważne</td>
                    <td>Oczekujące</td>
                    <td><button>Sprawdź</button></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>19.10.2024 20:50</td>
                    <td>Poważne</td>
                    <td>Oczekujące</td>
                    <td><button>Sprawdź</button></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>19.10.2024 20:50</td>
                    <td>Poważne</td>
                    <td>Oczekujące</td>
                    <td><button>Sprawdź</button></td>
                </tr>
                </tbody>
            </table>
            <button class="view-all-reports-btn">Zobacz listę wszystkich swoich zgłoszeń</button>
        </div>

        <div class="report-stats-box">
            <h2 class="report-stats-header">Statystyki Twoich zgłoszeń</h2>
            <div class="report-stats-items-box">
                <p class="report-stats-item" style="color: green">99 otwartych</p>
                <p class="report-stats-item" style="color: yellow">99 w trakcie rozpatrywania</p>
                <p class="report-stats-item" style="color: red">99 zamkniętych</p>
            </div>

        </div>

    </main>

    <footer>
        Stopka
    </footer>
</div>

</body>
</html>