<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Strona nie została znaleziona</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,
    700;1,900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/57474b4673.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/main.css">

</head>
<body>


<div class="container">
    <nav>
    </nav>

    <main class="main-content">

        <div class="list-border not-found-box">
            <h2 class="list-heading">Strona nie została znaleziona</h2>
            <a href="#">Powrót do strony głównej</a>
        </div>

    </main>

    <footer style="height: 300px">
        Stopka
    </footer>
</div>

</body>
</html>