<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Zmiana danych konta</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,
    700;1,900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/57474b4673.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/styles/main.css}" href="../static/styles/main.css">

</head>
<body>

<div class="container">
    <nav>
        <a href="/home" class="nav-item nav-item-logo">Strona główna</a>
        <a th:href="@{/reports}" href="#" class="nav-item">Moje zgłoszenia</a>
        <a href="" class="nav-item">Zgłoś nowe zdarzenie</a>
        <a href="" class="nav-item">Ustawienia konta</a>
        <a th:herf="@{/logout}" href="/logout" class="nav-item">Wyloguj się</a>
    </nav>

    <main class="main-content" th:unless="${param.success}">
        <h2 class="list-heading">Dodaj nowe zgłoszenie zdarzenia niepożądanego</h2>
        <p th:if="${param.invalid}" class="login-panel-msg">Nie podano wszyskich danych lub dane są niepoprawne</p>
        <form method="post" th:action="@{/new-report/add}" action="" class="form form-margin" enctype="multipart/form-data">
            <label for="title">Tytuł</label>
            <input type="text" name="title" id="title" placeholder="Wpisz tytuł" required minlength="15">
            <label for="description">Opis</label>
            <textarea name="description" id="description" cols="60" rows="10" placeholder="Opisz zdarzenie" required minlength="50"></textarea>
            <label for="">Kategoria</label>
            <select name="" id="" required>
                <option value="" disabled selected>Wybierz kategorię</option>
                <option value="">Not Implement</option>
            </select>
            <label for="file">Dołącz załączniki</label>
            <input type="file" name="file" id="file" multiple>

            <button type="submit" class="form-submit-btn">Dodaj zgłoszenie</button>
        </form>
    </main>
    <main class="main-content" th:if="${param.success}">
        <h2>Przyjeliśmy twoje zgłoszenie</h2>
        &nbsp;
        <p>Wysłaliśmy również potwierdzenie przyjęcia zgłoszenia na twoją skrzynkę mailową</p>
        &nbsp;
        <a href="" th:href="@{/home}" class="link-back">Powrót do strony głównej</a>
    </main>

    <footer>
        Stopka
    </footer>
</div>

</body>
</html>