<!DOCTYPE html>
<html lang="pl" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Przypomnij hasło</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,
    700;1,900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/57474b4673.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/styles/main.css"  th:href="@{/styles/main.css}">

</head>
<body>


<div class="container">
    <nav>
    </nav>

    <main th:unless="${param.ok}" class="main-content">
        <h2 class="list-heading">Zapomniałeś hasła?</h2>
        <p th:if="${param.wrong}" class="login-panel-msg">NIeprawidłowy E-mail.</p>
        <p>Wystarczy, że podasz swój e-mail, a my pomożemy Ci ustawić nowe hasło.</p>
        <br>
        <form action="#" th:action="@{/account/forgot-password}" method="post" class="form form-margin">
            <div>
                <label for="email">Adres Email:</label>
                <input type="text" id="email" name="email" required />
            </div>
            <div>
                <button type="submit" class="form-submit-btn">Resetuj hasło</button>
            </div>
        </form>
    </main>

    <main th:if="${param.ok}" class="main-content">
        <p class="">Sprawdź swoją skrzynkę mailową. Wysłąliśmy do ciebie maila i informacją o dalszej zmianie hasła.</p>
        <br>
        <a href="#" th:href="@{/home}">Powrót do strony głównej</a>
        <br>
    </main>

    <footer style="height: 300px">
        Stopka
    </footer>
</div>

</body>
</html>