<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Profil użytkownika</title>
    <link rel="icon" type="image/x-icon" th:href="@{/images/Main_logo.png}" href="/static/images/Main_logo.png">
    <script src="https://kit.fontawesome.com/57474b4673.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/styles/style-motive.css}" href="/static/styles/style-motive.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body data-bs-theme="light" id="pageBody" class="d-flex flex-column min-vh-100">

<nav class="nav navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid p-0">
        <div class="collapse navbar-collapse">
            <ul class="nav fs-5 nav-tabs w-100 ps-4 pe-4">
                <li>
                    <div class="navbar-brand fs-3 pe-2">
                        <img th:src="@{/images/Main_logo_small.png}" src="/static/images/Main_logo_small.png" alt="Logo" height="42" class="d-inline-block align-text-top"> IncidentHub
                    </div>
                </li>
                <li class="nav-item"><a class="nav-link" th:href="@{/home}">Strona główna</a></li>
                <li class="nav-item"><a class="nav-link active" href="#">Profil</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/logout}">Wyloguj się</a></li>
                <div class="align-self-center ms-auto">
                    <div class="container align-self-center">
                        <input type="checkbox" class="checkbox" id="checkbox">
                        <label for="checkbox" class="checkbox-label bg-black">
                            <i class="fas fa-moon"></i>
                            <i class="fas fa-sun"></i>
                            <span class="ball"></span>
                        </label>
                    </div>
                </div>
            </ul>
        </div>
    </div>
</nav>

<div class="container d-flex flex-column align-items-center justify-content-center flex-column mt-4">

    <div th:if="${error}" class="alert alert-danger">
        <p th:text="${error}"></p>
    </div>
    <div class="add-user-section">
        <div th:if="${successMessage}" class="alert alert-success w-100">
            <p th:text="${successMessage}"></p>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="card shadow rounded-3" style="width: 36rem;">
            <div class="card-body">

                <div class="mb-3">
                    <label for="firstName" class="form-label"><strong>Imię:</strong></label>
                    <p id="firstName" class="form-control-plaintext" th:text="${user.firstName}">Jan</p>
                </div>
                <div class="mb-3">
                    <label for="lastName" class="form-label"><strong>Nazwisko:</strong></label>
                    <p id="lastName" class="form-control-plaintext" th:text="${user.lastName}">Kowalski</p>
                </div>
                <div class="mb-3">
                    <label for="role" class="form-label"><strong>Typ konta:</strong></label>
                    <p id="role" class="form-control-plaintext" th:text="${user.roles.iterator().next().name}">Administrator</p>
                </div>


                <div class="mb-3">
                    <label for="currentEmail" class="form-label"><strong>Aktualny email:</strong></label>
                    <p id="currentEmail" class="form-control-plaintext" th:text="${user.email}"></p>
                </div>


                <form th:action="@{/profile}" method="post" th:object="${emailUpdateDTO}" class="text-start">
                    <input type="hidden" name="action" value="updateEmail" />
                    <div class="mb-3">
                        <label for="email" class="form-label"><strong>Nowy email:</strong></label>
                        <input type="email" id="email" th:field="*{email}" class="form-control" placeholder="Wprowadź nowy email" required />
                    </div>
                    <div class="mb-3">
                        <label for="currentPasswordForEmail" class="form-label"><strong>Obecne hasło (do zmiany emaila):</strong></label>
                        <input type="password" id="currentPasswordForEmail" th:field="*{currentPassword}" class="form-control" placeholder="Wprowadź obecne hasło" required />
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Zmień email</button>
                    </div>
                </form>

                <hr />


                <form th:action="@{/profile}" method="post" th:object="${passwordsDTO}" class="text-start">
                    <input type="hidden" name="action" value="updatePassword" />
                    <div class="mb-3">
                        <label for="password" class="form-label"><strong>Nowe hasło:</strong></label>
                        <input type="password" id="password" th:field="*{password}" class="form-control" placeholder="Wprowadź nowe hasło" required />
                    </div>
                    <div class="mb-3">
                        <label for="confirmPassword" class="form-label"><strong>Potwierdź nowe hasło:</strong></label>
                        <input type="password" id="confirmPassword" th:field="*{confirmPassword}" class="form-control" placeholder="Potwierdź hasło" required />
                    </div>
                    <div class="mb-3">
                        <label for="currentPasswordForPassword" class="form-label"><strong>Obecne hasło (do zmiany hasła):</strong></label>

                        <input type="password" id="currentPasswordForPassword" name="currentPassword" class="form-control" placeholder="Wprowadź obecne hasło" required />
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Zmień hasło</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


</div>

<footer class="pt-4 border-top border-secondary mt-auto">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5>Kontakt</h5>
                <ul class="list-unstyled">
                    <li>Email: <a href="mailto:support@incidenthub.com" class="link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">support@incidenthub.com</a></li>
                    <li>Telefon: <span class="text-success">+48 123 456 789</span></li>
                    <li>Adres: ul. Podchorążych 2, 33-332 Kraków</li>
                </ul>
            </div>
            <div class="col-md-6 text-md-end">
                <h5>Informacje</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-decoration-none link-primary">Polityka prywatności</a></li>
                    <li><a href="#" class="text-decoration-none link-primary">Regulamin</a></li>
                </ul>
            </div>
        </div>
        <div class="text-center mt-4 text-body-secondary">
            <small>© 2025 IncidentHub | Aplikacja powstała w ramach projektu inżynierskiego</small>
        </div>
    </div>
</footer>
<script th:src="@{/scripts/motive.js}" src="/static/scripts/motive.js"></script>
</body>
</html>
