<!DOCTYPE html>
<html lang="pl" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Lista zgłoszeń</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,
    700;1,900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/57474b4673.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/styles/main.css" th:href="@{/styles/main.css}">

</head>
<body>

<div class="container">
    <nav>

        <a href="" th:href="@{/home}" class="nav-item">Powrót do panelu</a>
        <a href="" th:href="@{/logout}" class="nav-item">Wyloguj się</a>
    </nav>

    <main class="main-content">

<!--        <div class="report-filter-section">-->
<!--            <div class="report-filter-box">-->
<!--                <p>Filtrowanie według statusu</p>-->
<!--                <button>Oczekujące</button>-->
<!--                <button>W trakcie przeglądu</button>-->
<!--                <button>Zakończone</button>-->
<!--            </div>-->

<!--            <div class="report-filter-box">-->
<!--                <p>Filtrowanie według kategorii</p>-->
<!--                <button>Krytyczne</button>-->
<!--                <button>Poważne</button>-->
<!--                <button>Drobne</button>-->
<!--            </div>-->
<!--        </div>-->



        <div class="nearing-deadline-reports-box">
            <h2 class="nearing-deadline-reports-header">Lista zgłoszeń</h2>
            <table class="latest-reports-table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Tytuł</th>
                    <th>Data dodania</th>
                    <th>Pozostały czas</th>
                    <th>Kategoria</th>
                    <th>Status</th>
                    <th>Przypisany pracownik</th>
                    <th>Szczegóły</th></tr>
                </thead>
                <tbody th:remove="all-but-first">
                <tr th:each="report, status: ${reports}">
                    <td th:text="${status.count}">1</td>
                    <td th:text="${report.title}">Niedziałająca strona logowania</td>
                    <td th:text="${report.dateAdded}">19.10.2024 20:50</td>
                    <td th:text="|${report.remainingTime.getDays()} dni ${report.remainingTime.getHours()} godz. ${report.remainingTime.getMinutes()} min.|">
                        x dni x godzin x minut
                    </td>
                    <td th:text="${report.category.description}">Poważne</td>
                    <td th:text="${report.status.description}">W trakcie przeglądu</td>
                    <td>
                        <!-- Widok dla administratora -->
                        <div sec:authorize="hasRole('ROLE_ADMINISTRATOR')">
                            <form action="/reports/assign" method="post">
                                <!-- Dodanie tokenu CSRF -->
                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">

                                <input type="hidden" name="reportId" th:value="${report.id}">
                                <select name="employeeId">
                                    <option value="" disabled selected>Wybierz pracownika</option>
                                    <th:block th:each="employee : ${employees}">
                                        <option th:value="${employee.id}"
                                                th:selected="${report.assignedUser?.id == employee.id}"
                                                th:text="${employee.email}">
                                        </option>
                                    </th:block>
                                </select>
                                <button type="submit">Zapisz</button>
                            </form>
                        </div>
                        <!-- Widok dla pozostałych ról -->
                        <div sec:authorize="!hasRole('ROLE_ADMINISTRATOR')">
                            <span th:text="${report.assignedUser != null ? report.assignedUser.email : 'Brak'}"></span>
                        </div>
                    </td>
                    <td><a th:href="@{/chat(reportId=${report.id})}">Sprawdź</a></td>
                </tr>
                </tbody>
            </table>
        </div>


    </main>

    <footer>
        Stopka
    </footer>
</div>

</body>
</html>
