<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Ustaw Hasło</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,
    700;1,900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/57474b4673.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/styles/main.css"  th:href="@{/styles/main.css}">

</head>
<body>
<div class="container">
    <nav>
    </nav>

    <main class="main-content">
        <p th:if="${param.diffrentPassword}" class="login-panel-msg">Hasła muszą być takie same!</p>

        <h2 th:if="${verification}" class="list-heading">Ustawianie Hasła</h2>
        <h2 th:unless="${verification}" class="list-heading">Resetowanie Hasła</h2>

        <form action="#" th:action="|/user/verification/${token}|" method="post" class="form form-margin">
            <div>
                <label for="password">Hasło:</label>
                <input type="password" id="password" name="password" required />
            </div>
            <div>
                <label for="password_repit">Powtórz Hasło:</label>
                <input type="password" id="password_repit" name="password_repit" required />
            </div>
            <div>
                <button type="submit" class="form-submit-btn">Zatwierdź</button>
            </div>
        </form>
    </main>

    <footer style="height: 300px">
        Stopka
    </footer>
</div>

</body>
</html>