<!DOCTYPE html>
<html lang="pl" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
                xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Strona główna</title>
    <link rel="icon" type="image/x-icon" th:href="@{/images/Main_logo.png}" href="/static/images/Main_logo.png">

    <script src="https://kit.fontawesome.com/57474b4673.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/styles/style-motive.css}" href="/static/styles/style-motive.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">


</head>
<body data-bs-theme="light" id="pageBody" class="d-flex flex-column min-vh-100">

<nav class="nav navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid p-0">
        <div class="collapse navbar-collapse">
            <ul class="nav fs-5 nav-tabs w-100 ps-4 pe-4">
                <li>
                    <div class="navbar-brand fs-3 pe-2"><img th:src="@{/images/Main_logo_small.png}" src="/static/images/Main_logo_small.png" alt="Logo" height="42" class="d-inline-block align-text-top">  IncidentHub</div>
                </li>

                <li class="nav-item"><a class="nav-link" href="#" th:href="@{/logout}">Wyloguj się</a></li>
                <div class="align-self-center ms-auto">
                    <div class="container align-self-center">
                        <input type="checkbox" class="checkbox" id="checkbox">
                        <label for="checkbox" class="checkbox-label bg-black">
                            <i class="fas fa-moon"></i>
                            <i class="fas fa-sun"></i>
                            <span class="ball"></span>
                        </label>
                    </div>
                </div>
            </ul>
        </div>
    </div>
</nav>

<div class="container d-flex flex-column align-items-center justify-content-center flex-column">

    <h1 th:text="| Witaj ${UserName}|" class="pt-3">Witaj Tomasz</h1>

    <div class="row justify-content-center">

        <a sec:authorize="hasRole('ROLE_ADMINISTRATOR')" href="#" th:href="@{/admin/manage_users}" class="card user-module text-decoration-none m-3" style="width: 18rem">
            <div class="card-img-top p-3 d-flex justify-content-center"><i class="fa-solid fa-people-roof fa-6x" style="color: #74C0FC;"></i></div>
            <div class="card-body">
                <h5 class="card_title">Zarządzaj Użytkownikami</h5>
                <p class="card-text">Panel do zarządzania użytkownikami. Możesz tu dodawać nowych użytkowników oraz zmieć ich dane. </p>
            </div>
        </a>

        <a sec:authorize="hasRole('ROLE_ADMINISTRATOR')" href="#" th:href="@{/admin/manage_companies}" class="card user-module text-decoration-none m-3" style="width: 18rem">
            <div class="card-img-top p-3 d-flex justify-content-center"><i class="fa-solid fa-building fa-6x" style="color: #74C0FC;"></i></div>
            <div class="card-body">
                <h5 class="card_title">Zarządzaj Firmami</h5>
                <p class="card-text">Panel do zarządzania firmami. Możesz tu dodawać nowe firmy oraz zmieć ich dane. </p>
            </div>
        </a>

        <a sec:authorize="hasRole('ROLE_ADMINISTRATOR')" href="#" th:href="@{/ReportCategory}" class="card user-module text-decoration-none m-3" style="width: 18rem">
            <div class="card-img-top p-3 d-flex justify-content-center"><i class="fa-solid fa-layer-group fa-6x" style="color: #74C0FC;"></i></div>
            <div class="card-body">
                <h5 class="card_title">Zarządzaj Kategoriami</h5>
                <p class="card-text">Panel do zarządzania kategoriami zgłoszeń. Tu dodasz lub usuniesz możliwe do ustwaienia kategorie zgłoszeń</p>
            </div>
        </a>

        <a sec:authorize="isAuthenticated()" href="#" th:href="@{/reports}" class="card user-module text-decoration-none m-3" style="width: 18rem">
            <div class="card-img-top p-3 d-flex justify-content-center"><i class="fa-solid fa-list-ul fa-6x" style="color: #74C0FC;"></i></div>
            <div class="card-body">
                <h5 class="card_title">Panel zgłoszeń</h5>
                <p class="card-text">Panel wszystkich zgłoszeń. Znajdziesz tu listę wszyskich twoich prowadzonych zgłoszeń.</p>
                <br>
            </div>
        </a>
        <a sec:authorize="hasRole('ROLE_USER')" href="#" th:href="@{/new-report}" class="card user-module text-decoration-none m-3" style="width: 18rem">
            <div class="card-img-top p-3 d-flex justify-content-center"><i class="fa-regular fa-rectangle-xmark fa-6x" style="color: #74C0FC;"></i></div>
            <div class="card-body">
                <h5 class="card_title">Nowe Zgłoszenie</h5>
                <p class="card-text">Dodawanie nowego zgłoszenia. Tu masz możliwość zgłosić nowy błąd.</p>
                <br>
            </div>
        </a>

        <a sec:authorize="isAuthenticated()" href="#" th:href="@{/summaries}" class="card user-module text-decoration-none m-3" style="width: 18rem">
            <div class="card-img-top p-3 d-flex justify-content-center"><i class="fa-solid fa-file-import fa-6x" style="color: #74C0FC;"></i></div>
            <div class="card-body">
                <h5 class="card_title">Raporty</h5>
                <p class="card-text">Panel do generowania raportów. Tu wygenerujesz interesujące cię raporty oraz podejżysz wykresy.</p>
                <br>
            </div>
        </a>

        <a sec:authorize="isAuthenticated()" href="#" th:href="@{/profile}" class="card user-module text-decoration-none m-3" style="width: 18rem">
            <div class="card-img-top p-3 d-flex justify-content-center"><i class="fa-solid fa-id-card fa-6x" style="color: #74C0FC;"></i></div>
            <div class="card-body">
                <h5 class="card_title">Profil</h5>
                <p class="card-text">Panel twojego profilu. Zmienisz tu ustawienia twojego profilu w tym hasło czy adres e-mail.</p>
                <br>
            </div>
        </a>

    </div>

</div>

<footer class="pt-4 border-top border-secondary mt-auto">

    <div class="container">
        <div class="row">

            <div class="col-md-6">
                <h5>Kontakt</h5>
                <ul class="list-unstyled">
                    <li>Email: <a href="mailto:support@incidenthub.com" class="link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">support@incidenthub.com</a></li>
                    <li>Telefon: <span class="text-success">+48 123 456 789</span></li>
                    <li>Adres: ul. Podchorążych 2, 33-332 Kraków</li>
                </ul>
            </div>

            <div class="col-md-6 text-md-end">
                <h5>Informacje</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-decoration-none link-primary">Polityka prywatności</a></li>
                    <li><a href="#" class="text-decoration-none link-primary">Regulamin</a></li>
                </ul>
            </div>
        </div>

        <div class="text-center mt-4 text-body-secondary">
            <small>© 2025 IncidentHub | Aplikacja powstała w ramach projektu inżynierskiego</small>
        </div>
    </div>
</footer>

<script th:src="@{/scripts/motive.js}" src="/static/scripts/motive.js"></script>

</body>
</html>
