<!DOCTYPE html>
<html lang="pl" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ustaw Hasło</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,
    700;1,900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/57474b4673.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/styles/main.css"  th:href="@{/styles/main.css}">


</head>
<body>
<div class="container">
    <nav>
    </nav>

    <main class="main-content">
        <p th:if="${param.diffrentPassword}" class="login-panel-msg">Hasła muszą być takie same!</p>
        <p th:if="${param.wrongPassword}" class="login-panel-msg">Podane hasło jest nieprawidłowe!</p>

        <h2 th:if="${verification}" class="list-heading">Ustawianie Hasła</h2>
        <h2 th:unless="${verification}" class="list-heading">Resetowanie Hasła</h2>
        <form action="#" th:action="@{${formAction}}" method="post" class="form form-margin">
            <div>
                <label for="password">Hasło:</label>
                <input type="password" id="password" name="password"
                       pattern="^(?=.*[a-z])(?=.*[^!&quot;`'#%&,:;<>=@\{\}~\$\(\)\*\+\/\\\?\[\]\^\|]).{8,30}$"
                       required />
            </div>
            <div class="patternList">
                <li> <span class="invalid" id="length"></span> Min. 8 znaków, Maks. 30</li>
                <li><span class="invalid" id="uppercase"></span> Min. jedna wielka litera</li>
                <li><span class="invalid" id="lowercase"></span> Min. jedna mała litera</li>
                <li><span class="invalid" id="number"></span> Min. jedna cyfra</li>
                <li><span class="invalid" id="specialChar"></span> Min. jedna znak specjalny</li>
            </div>
            &nbsp;
            <div>
                <label for="confirmPassword">Powtórz Hasło:</label>
                <input type="password" id="confirmPassword" name="confirmPassword" required />
            </div>
            <div class="patternList" id="samePassword">
                <li><span class="invalid"></span> Hasła nie są takie same!</li>
            </div>
            <div>
                <button type="submit" id="button" disabled class="form-submit-btn">Zatwierdź</button>
            </div>
        </form>
    </main>

    <footer style="height: 300px">
        Stopka
    </footer>
</div>
<script src="/scripts/passwordSetValid.js"></script>
</body>
</html>