<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Strona główna</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,
    700;1,900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/57474b4673.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../static/styles/main.css">

</head>
<body>

<div class="container">
    <nav>
        <a href="" class="nav-item nav-item-logo">Strona główna</a>
        <a href="" class="nav-item">Lista zgłoszeń</a>
        <a href="" class="nav-item">Panel administracyjny</a>
        <a href="" class="nav-item">Raporty</a>
        <a href="" class="nav-item">Ustawienia konta</a>
        <a href="" class="nav-item">Wyloguj się</a>
    </nav>

    <main class="main-content">

        <div class="nearing-deadline-reports-box">
            <h2 class="nearing-deadline-reports-header">Zgłoszenia wymagające pilnej obsługi (czas poniżej 1h)</h2>
            <table class="latest-reports-table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Data dodania</th>
                    <th>Pozostały czas</th>
                    <th>Kategoria</th>
                    <th>Szczegóły</th></tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>19.10.2024 20:50</td>
                    <td>35min</td>
                    <td>Poważne</td>
                    <td><button>Sprawdź</button></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>19.10.2024 20:50</td>
                    <td>35min</td>
                    <td>Poważne</td>
                    <td><button>Sprawdź</button></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>19.10.2024 20:50</td>
                    <td>35min</td>
                    <td>Poważne</td>
                    <td><button>Sprawdź</button></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>19.10.2024 20:50</td>
                    <td>35min</td>
                    <td>Poważne</td>
                    <td><button>Sprawdź</button></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="report-stats-box">
            <h2 class="report-stats-header">Statystyki przydzielonych do Ciebie zgłoszeń</h2>
            <span>Wybierz okres czasu</span>
            <br>
            <select name="" id="">
                <option value="">7 dni</option>
                <option value="">14 dni</option>
                <option value="">miesiąc</option>
                <option value="">3 miesiące</option>
                <option value="">6 miesięcy</option>
                <option value="">12 miesięcy</option>
                <option value="">od początku</option>
            </select>
            <div class="report-stats-items-box">
                <div class="report-stats-item-box">
                    <p class="report-stats-item-header" style="color: red">KRYTYCZNE</p>
                    <p>99 Do obsłużenia</p>
                    <p>99 Obsłużonych</p>
                    <p>99 Nieobsłużone (przekroczony termin obsługi)</p>
                </div>
                <div class="report-stats-item-box">
                    <p class="report-stats-item-header" style="color: yellow">POWAŻNE</p>
                    <p>99 Do obsłużenia</p>
                    <p>99 Obsłużonych</p>
                    <p>99 Nieobsłużone (przekroczony termin obsługi)</p>
                </div>
                <div class="report-stats-item-box">
                    <p class="report-stats-item-header" style="color: green">DROBNE</p>
                    <p>99 Do obsłużenia</p>
                    <p>99 Obsłużonych</p>
                    <p>99 Nieobsłużone (przekroczony termin obsługi)</p>
                </div>

            </div>

        </div>

    </main>

    <footer>
        Stopka
    </footer>
</div>

</body>
</html>