* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #333333;
    color: white;
    font-family: "Lato",sans-serif;
    font-weight: 400;
}

.container {
    margin: 0 auto;
    width: 100%;
}

nav {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #191919;
}

nav .nav-item {
    color: white;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    padding: 0 25px;
    margin-right: 30px;
}

nav .nav-item-logo {
    margin: 0 auto 0 100px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-box {
    margin: 110px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-buttons-box button {
    margin-top: 10px;
    padding: 5px;
}

.latest-reports-box, .nearing-deadline-reports-box, .unassigned-reports-box, .user-listing-box, .company-listing-box {
    margin-bottom: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-title, .latest-reports-header, .report-stats-header, .nearing-deadline-reports-header,
.unassigned-reports-header{
    margin-bottom: 25px;
}

.latest-reports-table th,tr,td, .company-listing-table th,tr,td, .user-listing-table th,tr,td {
    border: 1px solid white;
    padding: 8px;
}

.view-all-reports-btn {
    padding: 5px;
    margin-top: 10px;
}

.report-stats-box {
    margin-bottom: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.report-stats-items-box {
    margin-top: 40px;
    margin-bottom: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.report-stats-item-box p {
    padding-bottom: 12px;
}

.nearing-deadline-reports-box, .user-listing-box, .company-listing-box {
    margin-top: 100px;
}

.report-stats-item-header {
    font-size: 20px;
    margin-bottom: 25px;
}

.list-heading {
    margin: 80px 0 60px 0;
    font-size: 35px;
}

.list-border {
    margin-bottom: 120px;
    list-style: none;
}

.list-border > li {
    font-size: 24px;
    border: 1px #6d6d6d solid;
    padding: 16px 40px 16px 40px;
    text-align: center;
}

.list-border > li > a {
    text-decoration: none;
    color: white;
}

.report-filter-section {
    margin-top: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.report-filter-box > button, .user-filter-box > button {
    padding: 5px;
}

.report-filter-box > p {
    margin-bottom: 5px;
}

.form {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.form input[type="text"],
.form input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

.form .form-submit-btn {
    margin: 35px auto 0;
    padding: 10px;
    font-size: 15px;
    border-radius: 8px;
    cursor: pointer;
}

.form > * , .form button{
    margin-top: 8px
}

.login-panel-msg {
    margin-top: 30px;
    color: #ffc107;
    text-align: center;
}

.report-form-box {
    margin: 100px 0 100px 0;

}

.report-form-box > h3 {
    font-size: 25px;
    margin-bottom: 45px;
}

.form-margin {
    margin-bottom: 150px;
}

.homepage-redirect {
    margin: 0 auto;
}

.not-found-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.not-found-box > a {
    text-decoration: none;
    color: bisque;
    font-size: 20px;
}

.not-found-box > a:hover {
    transition-duration: .7s;
    font-size: 21px;
}

.user-filter-box {
    margin-top: 80px;
    font-size: 18px;
}

.user-listing-header, .company-listing-header {
    margin-bottom: 70px;
}

.company-listing-table {
    width: 65%;
}

.login-message {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    color: #333333;
    height: 100px;
}

.report-details-box {
    margin: 100px 0 100px 0;
    background-color: #191919;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    height: 250px;
    width: 50%;
    border: 1px solid rgba(128, 128, 128, 0.18);
}

.report-details-box p {
    color: lavender;
    padding: 8px;
}

table th,
table td {
    text-align: center;
    vertical-align: middle;
}

.chat-box {
    margin-top: 30px;
    min-height: 200px;
    max-height: 400px;
    background-color: #191919;
    width: 75%;
    overflow-y: auto;
}

.chat-box p {
    width: 100%;
    border: 1px solid whitesmoke;
}

.chat-box .single-message-box {
    margin: 0 auto 10px;
    padding: 10px;
    border-radius: 5px;
    width: 70%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

.input-box {
    width: 75%;
    background-color: #191919;
    margin-bottom: 120px;
}

.input-box > input {
    width: 90%;
    border-radius: 2px;
}

.input-box > input, .input-box > button {
    font-size: 20px;
}

.attachments-box {
    margin-bottom: 50px;
}

.attachments-box > h3 {
    margin-bottom: 20px;
    font-size: 20px;
}

.attachments-box .attachment-item {
    margin-bottom: 10px;
}

.attachment-link {
    color: darkkhaki;
    text-decoration: none;
}


footer {
    display: flex;
    justify-content: center;
    align-items: center;;
    height: 200px;
    background-color: #191919;
}
.link-back{
    text-decoration: none;
    color: forestgreen;
}
